<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'SecureBank/logo.png' %}"/>
        <link rel="stylesheet" href="{% static 'SecureBank/style.css' %}" type="text/css">
        <meta charset="UTF-8">


        {% block head %}
            <title>Base</title>
        {% endblock %}
        
    </head>
    <body>
		{% block body %}
            base class
        {% endblock %}
    </body>
</html>