{% extends 'SecureBank/userpage_base.html' %}


{% block main_content %}
    <div class="page-content">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#edit_info" class="mdl-tabs__tab is-active">Main Info</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="edit_info">
                <form action="#" method="post" id="edit_info_form" class="profile-form"> 
                   {% csrf_token %}
                    <!-- <div class="profile-name"> -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="edit_info_firstname" pattern="(?=.{20,})[a-zA-z]+" placeholder="{{firstName}}" readonly>
                            <label class="mdl-textfield__label" for="edit_info_firstname">Name</label>
                            <span class="mdl-textfield__error">Required</span>

                        </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" name="old_email_address"  id="old_email_address">
                        <label class="mdl-textfield__label" for="old_email_address">Old Email</label>
                        <span class="mdl-textfield__error">Enter valid Email</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" name="edit_email_address"  id="edit_email_address">
                        <label class="mdl-textfield__label" for="edit_email_address">New Email</label>
                        <span class="mdl-textfield__error">Enter valid Email</span>
                    </div>

                    <button type="submit" form="edit_info_form" value="Submit" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect">
                    Submit
                    </button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}