{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Internal User</title>
{% endblock %}

{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="sbs-title mdl-layout-title">
                    <img class="sbs-logo-image" src = "{% static 'SecureBank/logo2.png' %}" height="60"/>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                <!-- Left aligned menu below button -->

                <button id="demo-menu-lower-left"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect  mdl-color-text--white">
                    <span>{{ user }}</span>
                    <i class="material-icons">person</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-left">
                  <li class="mdl-menu__item">Edit Profile</li>
                  <a href="{% url 'logout' %}"><li class="mdl-menu__item">Logout</li></a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">IIITD Bank</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Passbook</a>
                <a class="mdl-navigation__link" href="">Credit</a>
                <a class="mdl-navigation__link" href="">Debit</a>
                <a class="mdl-navigation__link" href="">Funds Transfer</a>
                <a class="mdl-navigation__link" href="">Edit Profile</a>
            </nav>
        </div>
            <main class="mdl-layout__content">
                <div class="page-content"><!-- Your content goes here --></div>
            </main>
        </div>
{% endblock %}