{% extends 'base.html' %}
{% load static %}

{% block head %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
        <title>Home</title>
{% endblock %}

{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="sbs-title mdl-layout-title">
                    <img class="sbs-logo-image" src = "{% static 'SecureBank/logo2.png' %}" height="60"/>
                </span>
            </div>
        </header>
    <main class="mdl-layout__content mdl-color--grey-50">
        <div class="jumbotron jumbotron-fluid">
              <div class="container text-center">
                    <h2>Welcome to IIITD Bank, Login here!</h2>
              </div>
        </div>
{#        <div class="login-content">#}
{#            <div class="container">#}
{#                <div class="row justify-content-center">#}
{#                    <div class="col-xl-10 text-center">#}
{#                        <h2>Welcome to IIITD Bank, Login here!</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-3">
                    <div class="card card-outline-secondary">
                            <div class="card-header">
                                <h4 class="mb-0 text-center">Login</h4>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" action="{%url 'login'%}" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" name="username" id="username" value="">
                                        <div class="invalid-feedback">Please enter your username or email</div>
                                    </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelpBlock">
                                        <div class="invalid-feedback">Please enter a password</div>
                                        <p id="passwordHelpBlock" class="form-text text-muted">
                                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                        </p>
                                    </div>
                                    <!--/Google reCAPTCHA-->
                                    <script src='https://www.google.com/recaptcha/api.js'></script>
                                    <div class="g-recaptcha" data-sitekey="6LeXc3UUAAAAACg_4NVtyvAPk8-PirBRS33r_G5S" ></div>

                                    <br>
                                    {% if wrong_credentials %}
                                        <p>
                                            Wrong Credentials!
                                        </p>
                                    {% endif %}

                                    <button type="submit" class="btn btn-success float-right btn-lg" id="btnLogin">Login</button>
                                </form>
                            </div>
                            <!--/card-body-->
                        </div>
                </section>
            </section>
        </div>
    </main>
{% endblock %}