{% extends 'base.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'SecureBank/style.css' %}" type="text/css">
        <title>Home</title>
{% endblock %}

{% block body %}
    <section class="container-fluid" style="margin-top: 80px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 text-center">
                    <h1>Welcome to IIITD Bank, Login here!</h1>
                </div>
            </div>
        </div>
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" action="{%url 'login'%}" method="POST">
                                {% csrf_token %}
{#                                {{ form.as_p }}#}

                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="username" id="username" value="">
                                    <div class="invalid-feedback">Please enter your username or email</div>
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelpBlock">
                                    <div class="invalid-feedback">Please enter a password</div>
                                    <p id="passwordHelpBlock" class="form-text text-muted">
                                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                    </p>
                                </div>

                                <br>
                                {% if wrong_credentials %}
                                    <p>
                                        Wrong Credentials
                                    </p>
                                {% endif %}

                                <button type="submit" class="btn btn-success float-right btn-lg" id="btnLogin">Login</button>
                            </form>
                        </div>
                        <!--/card-body-->
                    </div>
            </section>
        </section>
    </section>
{% endblock %}