{% extends 'base.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'SecureBank/style.css' %}" type="text/css">
        <title>Home</title>
{% endblock %}

{% block body %}
    <section class="container-fluid" style="margin-top: 80px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 text-center">
                    <h1>Welcome to IIITD Bank, Login here!</h1>
                </div>
            </div>
        </div>
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" action="{%url 'login'%}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <button type="submit" class="btn btn-success float-right btn-lg" id="btnLogin">Login</button>
                            </form>
                        </div>
                        <!--/card-body-->
                    </div>
            </section>
        </section>
    </section>
{% endblock %}