{% extends 'SecureBank/userpage_base.html' %}


{% block main_content %}
    <div class="page-content mdl-grid">

    	<div class = "summary-balance mdl-cell mdl-grid">
    		<table class="summary-accounts mdl-data-table mdl-js-data-table mdl-shadow--2dp">
				<thead>
					<tr>
                        <th>Creation Date</th>
						<th>Transaction Number</th>
						<th>From Account</th>
                        <th>To Account</th>
                        <th>Amount</th>
                        <th>Status</th>
					</tr>
				</thead>
				<tbody clas="summary-accounts-body">
				{% for transaction in transactions %}
                <tr><td>{{transaction.CreationTime}}</td><td>{{ transaction.id }}</td><td>{{ transaction.FromAccount.AccountNumber }}</td><td>{{ transaction.ToAccount.AccountNumber }}</td><td>{{ transaction.Amount }}</td><td>{% if transaction.Status == 'O' %} OTP Required {% endif %}{% if transaction.Status == 'A' %} Approval required {% endif %}{% if transaction.Status == 'P' %} Processed {% endif %}{% if transaction.Status == 'R' %} Rejected {% endif %}{% if transaction.Status == 'E' %} Unsuccessful {% endif %}
</td></tr>
				{% endfor %}
				</tbody>
			</table>
    	</div>

{% if trasaction.Status == 'O' %} OTP Required {% endif %}{% if trasaction.Status == 'A' %} Approval required {% endif %}{% if trasaction.Status == 'P' %} Processed {% endif %}{% if trasaction.Status == 'R' %} Rejected {% endif %}{% if trasaction.Status == 'E' %} Unsuccessful {% endif %}
    	
    </div>
{% endblock %}