{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!--getmdl-select-->
    <link rel="stylesheet" href="{% static '/node_modules/getmdl-select/getmdl-select.min.css' %}">
    <script defer src="{% static '/node_modules/getmdl-select/getmdl-select.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'SecureBank/userpage.css' %}">
    <title>External User</title>
{% endblock %}

{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="sbs-title mdl-layout-title">
                    <img class="sbs-logo-image" src = "{% static 'SecureBank/logo2.png' %}" height="60"/>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

                <!-- Left aligned menu below button -->
                <button id="userpage-menu-lower-left"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect  mdl-color-text--white">
                    <span>{{ user }}</span>
                    <i class="material-icons">person</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="userpage-menu-lower-left">
                  <li class="mdl-menu__item">Edit Profile</li>
                  <a href="{% url 'logout' %}"><li class="mdl-menu__item logout-button">Logout</li></a>
              </ul>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <header class="userpage-drawer-header">
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <!-- <img class="sbs-logo-image" src = "{% static 'SecureBank/avatar.png' %}"/> -->
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span class="userpage-username">{{user}}</span>
                    </span>
                </div>
            </header>

            <!-- note: id of <a> and the url is same-->
            <nav class="mdl-navigation">
                <a id="user" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect" href="{% url 'user' %}">Account Summary</a>
                <a id="passbook" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect " href="{% url 'passbook' %}">Passbook</a>
                <a id="credit" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect " href="{% url 'fundcredit' %}">Credit</a>
                <a id="debit" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect " href="{% url 'funddebit' %}">Debit</a>
                <a id="fundtransfer" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect " href="{% url 'fundtransfer' %}">Funds Transfer</a>
                <a id="profile" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect " href="{% url 'profile' %}">Edit Profile</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
        {% block main_content %}
            content of the main section here
        {% endblock %}
        </main>
    </div>


    <!-- activate the current page in nav bar -->
    <script type="text/javascript">
        var pageurl = window.location.pathname;
        var urlarr = pageurl.split("/");
        var cur_page = urlarr[urlarr.length-2];
        console.log(cur_page);
        document.getElementById(cur_page).classList.add("mdl-navigation__link--current");
    </script>
{% endblock %}