body {
    background-color: #ffffff;
}

.navbar {
     margin-bottom: 0;
     border-radius: 0;
}

/*@media screen and (max-width: 767px) {*/
    /*.sidenav {*/
        /*height: auto;*/
        /*padding: 15px;*/
    /*}*/
    /*.row.content {*/
        /*height:auto;*/
    /*}*/
/*}*/